@model Doris.ViewModel.CartSummaryViewModel
@{
    var email = ViewContext.RouteData.Values["MemberEmail"].ToString();
}

@if (Request.Browser.IsMobileDevice)
{
    <a href="@Url.Action("Index", "ShoppingCart")" class="action icon-cart">
        <img src="~/Content/images/img-main/cart.png" alt="Cart" />
        <span id="itemshop">
            @if (Model.Count < 100)
            {
                @Model.Count
            }
            else
            {
                @: 99+
            }
        </span>
    </a>
}
else
{
    <a href="@Url.Action("Index", "ShoppingCart")" class="action icon-cart">
        <i class="fa-sharp fa-light fa-bag-shopping"></i>
        @if (email != "")
        {
            <span id="itemshop">
                @if (Model.Count < 100)
                {
                    @Model.Count
                }
                else
                {
                    @: 99+
                }
            </span>
        }
    </a>
}