@model Doris.ViewModel.SearchProductViewModel
@using PagedList.Mvc

<div class="count-product">(@Model.Products.Count()) _ Sản phẩm</div>
@if (Model.Products.Any())
{
    <div class="row row-cols-lg-5">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg">
                @Html.Partial("_ProductItem", item)
            </div>
        }
    </div>
}
else
{
    <h3 class="font-weight-bold text-danger text-uppercase">Không có kết quả</h3>
    <p>Xin lỗi, không có nội dung phù hợp với cụm từ tìm kiếm của bạn. Vui lòng thử lại với một số từ khóa khác.</p>
}
@if (Model.Products.PageCount > 1)
{
    <div class="text-right">
        @Html.PagedListPager(Model.Products, page => Url.Action("SearchProduct", new { page, keywords = Model.Keywords, catId = Model.CatId, brandId = Model.BrandId, sort = Model.Sort }))
    </div>
}