
<div class="subcribe page">
    <div class="title">Đăng ký thành viên</div>
    <form class="subcribe-form">
        <input type="text" name="keywords" class="form-control" placeholder="Email / Số điện thoại" required />
        <button type="submit">Gửi</button>
    </form>
</div>