@if(Model == 1)
{
    <span style="color: #fff; background: #EF9139">Đang xử lý</span>
}
else if (Model == 2)
{
    <span style="color: #fff; background: #199DD9">Chờ thanh toán</span>
}
else if (Model == 3)
{
    <span style="color: #fff; background: #28a745">Đã thanh toán</span>
}
else if (Model == 4)
{
    <span style="color: #fff; background: #ee4d2d">Hủy đơn</span>
}