@if (Model == 1)
{
    <span style="color: #f17173">Đang xử lý</span>
}
else if (Model == 2)
{
    <span style="color: #f17173">Chờ thanh toán</span>
}
else if (Model == 3)
{
    <span style="color: #f17173">Đã thanh toán</span>
}
else if (Model == 4)
{
    <span style="color: #f17173">Vận chuyển</span>
}
else if (Model == 5)
{
    <span style="color: #f17173">Đang giao</span>
}
else if (Model == 6)
{
    <span style="color: #f17173">Hoàn thành</span>
}
else if (Model == 7)
{
    <span style="color: #f17173">Đã hủy</span>
}
else if (Model == 8)
{
    <span style="color: #f17173">Trả hàng/Hoàn tiền</span>
}